# .gitignore 는 깃허브에 백업되지 않는 파일 확장명을 작성하거나
# 올리지 않고 싶은 파일명을 작성, 파일이 업로드 되지 않도록 작성하는 공간
# 샵(#)은 주석, 설명, 관련 내용을 작성하는 공간
# private 조차 하지 않고 올리기 싫은 폴더도 쓸 수 있다 (folderName/, 또는 folderName/*) 와 같이 슬래시 포함
# 위 처럼 작성할 경우, 폴더+하위 파일 ignore
# java의 경우 보통 metadata를 많이 숨긴다.


*.mp4
